<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div class="main-content">
   
    {{>header}}

    <p>This site is created by Shantanu Roy. In this web application, tha data is fetched from <strong>MAPBOX</strong> and <strong>WEATHERSTACK</strong> API</p>

    <img class="image" src="/img/itsme.jpg">

</div>
    
    {{>footer}}

</body>


</html>